body {
    margin: 0px;
}

a,
p,
span,
h1,
h2,
h3,
ul,
li {
    font-family: 'BalsamiqSansRegular';
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    padding: 14px;
}
.iconeRS {
    width: 40px;
}
.reseaux {
    display: flex;
    flex-direction: row;
}
.boxgrisfonce {
    background-color: #444;
    color: #fff;
}
.boxgrisclair {
    /*background-color: rgb(214, 214, 214);*/
    color: #444;
    border: 1px solid #444;
}
.boxnoir {
    background-color:black;
    color: #fff;
}

.photo {
    display: grid;
}

.header {
    display: grid;
    grid-template-columns: 2fr 4fr 3fr;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.mesreseaux h4 {
    font-size: 1.2rem;
}
.mesreseaux {
    padding-left: 56px;
    align-self: center;
}
.mesreseaux p {
    padding-left: 20px;
    align-self: center;
    margin: 0px;
}
.reseaux {
    margin-bottom: 6px;
}

.facebook, .instagram, .twitter, .linkedin {
    width: 32px;
    height: 32px;
}
.facebook {
    background-image: url("../img/facebook-rouge.png");
}
.instagram{
    background-image: url("../img/instagram-rouge.png");
}
.twitter{
    background-image: url("../img/twitter-rouge.png");
}
.linkedin{
    background-image: url("../img/linkedin-rouge.png");
}
.facebook:hover{
    background-image: url("../img/facebook-bleu.png");
}
.instagram:hover{
    background-image: url("../img/instagram-bleu.png");
}
.twitter:hover{
    background-image: url("../img/twitter-bleu.png");
}
.linkedin:hover{
    background-image: url("../img/linkedin-bleu.png");
}

.competence {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.experience {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.formation {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.langue {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.interets {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}

.photo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.infos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 30px 0px 30px 0px;
}

.bloccompetence {
    display: flex;
    flex-direction: row;
}

.competence {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.titre {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.design {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 30px;
}

.web {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 90px;
}

.listdesign {
    display: flex;
}
.listdesign ul{
    padding: 0px;
}
.file2 ul{
    padding: 0px;
}
.progress-design {
    margin-right: 60px;
}
.titreMarge {
    margin: 10px 0px 20px 0px;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: underline;
}
.titre {
    display: flex;
    align-items: center;
}
.experience ul, .formations ul, .langue ul {
    padding: 10px 20px 0px 30px;
    margin-bottom: 30px;
}
.paddingdef {
    padding: 20px;
}
.interets p {
    padding-left: 20px;
    margin-top: 20px;
}
.photo-profil {
    width: 50%;
    border-radius: 100%;
    justify-self: center;
    align-self: center;
}

.photo-profil:hover {
    width: 65%;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #D94158;
}
h2{
    margin: 0px;
    margin: 0px;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: bold; 
    font-size: 1.5rem; 
}
p,
li {
    font-size: 1em;
}
.experience ul li, .langue ul li, .formation ul li {
    margin-bottom: 12px;
}
.infos h2 {
    padding: 0px;
}

.icones {
    width: 60px;
}

ul {
    list-style-type: none;
}

label {
    padding-right: 10px;
    font-size: 1rem;
}
progress {
    width: 230px;
    height: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 3px 4px -6px #000;
}
::-moz-progress-bar {
    background-color: #D94158;
    border-radius: 10px;
}
#file2 progress {
    width: 100%;
}

button {
    background-color:#D94158;
    border:none;
    border-radius: 12px;
    padding: 10px 18px;
    
}
button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #3085a5;
}
button a:hover{
    color: white;
    text-decoration: none;
}
.header, .competence, .experience, .formation, .langue, .interets {
    border-radius: 20px;
}

.grasblc {
    font-weight: 800;
    color: #D94158;
}
.grasnoir {
    font-weight: 800;
}